.navbar {
    position:absolute;
    top:0;
    z-index:10;
    background: transparent;
    left: 0;
    right: 0;
    padding: 0.5% 2%;
}
.btn-danger{
    background-color: #dd2222;
}
.btn-danger:hover{
    background-color: #CF1010;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
    font-size: 1rem;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
    padding: 0.6375em 0;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1em;
    padding-left: 30%;
    padding-right: 30%;
}
.flag{
    width: 20px;
    vertical-align: baseline;
    margin-right: 2px;
}
/*---------------------------------------------------------------
	Media Query
/*--------------------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .navbar-light .navbar-nav .nav-link{
        font-size: 1rem;
    }
  }

  @media (max-width: 992px) { 
    .navbar-collapse{
        background-color: #000000;
        color: #fff;
        border-radius: 6px;
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #fff;
        font-size: 1.3rem;
    }
    .navbar-collapse form{
        display: block;
    }
    .navbar-collapse .nav-item{
        padding: 1% 0;
    }
    img{
        max-height: 30px;
    }
  }