<nav class="navbar navbar-expand-lg navbar-light inner ">
        <a class="navbar-brand" routerLink="">
          <img src="assets/M_black@2x.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">{{'About'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">{{'Services'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">{{'Portfolio'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/team">{{'Team'|translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/career">{{'Career'|translate}}</a>
            </li>
            
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-danger my-2 my-sm-0" routerLink="/contact_us">{{'Contact us'|translate}}</a>
          </form>
         
         
          <mat-form-field>
            
            <mat-select (ngModelChange)="changeLang(lang)" [(value)]="lang" [(ngModel)]="lang">
              <mat-option  value="en">
                <img src="assets/en.png" class="flag">
                {{'English'|translate}}
              </mat-option>
              <mat-option  value="fr">
                  <img src="assets/fr.png" class="flag">
                {{'French'|translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </nav>