.carousel-caption {
    position: absolute;
    right: auto; 
    top: 25%;
    left: 5%;
    z-index: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}
h1{
    font-size: 6rem;
    line-height: 1;
    font-weight: bold;
}
p{
    font-size: 1.8rem;
}

/* // Small devices (landscape phones, 576px and up) */

 /* // Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
  }
 
 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) { 
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1.1rem;
    }
  }
 
 /* // Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.1rem;
    }
  }
 
 /* // Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) { 
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 1.4rem;
    }
  }
 
 /* // Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) { 
    h1{
        font-size: 6rem;
    }
    p{
        font-size: 1.8rem;
    }
  }