<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
   
    <!-- <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let obj of arrBanner; let isFirst = first" [ngClass]="{'active':isFirst}">
        <img src="{{obj.img}}" class="d-block w-100" alt="...">
        <div class="carousel-caption">
            <h1 [innerHTML]="obj['title']"></h1>
            <p [innerHTML]="obj['sub_title']"></p>
          </div>
       
      </div> -->
      <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/hero.png" class="d-block w-100" alt="...">
        <div class="carousel-caption">
            <h1>{{'Authentic solutions'|translate}}<br> 
              {{'through digital'|translate}} <br> 
              {{'innovation.'|translate}}</h1>
            <p>{{'Secondary text goes here in this area'|translate}}</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/hero.png" class="d-block w-100" alt="...">
        <div class="container-fluid">
          <div class="carousel-caption">
            <h1>{{'Authentic solutions'|translate}}<br> 
              {{'through digital'|translate}} <br> 
              {{'innovation.'|translate}}</h1>
            <p>{{'Secondary text goes here in this area'|translate}}</p>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>