footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.31) !important;
    text-align: center;
}
.inline{
    display: inline-block;
    padding: 1.5% 0 1% 0;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.31) !important;
    -webkit-transition: 2s ease-out;
    -moz-transition:  2s ease-out;
    -o-transition:  2s ease-out;
    transition:  2s ease-out;
}
a:hover{
    color: #ffffff !important;
}

/*---------------------------------------------------------------
	Media Query
/*--------------------------------------------------------------*/


  @media (max-width: 787px) { 
    p{
        font-size: .5rem;
        margin-bottom: 0;
    }
    .col-12{
        padding-bottom: 4%;
        padding-top: 4%;
    }
    a{
        font-size: .8rem;
        padding-bottom: 2%;
    }
    img{
        max-height: 30px;
    }
    .inline{
        padding: 1% 0 1% 0;
    }
}
