<footer>
    <div class="col-12">
        <div class="col-4 inline">
            <a routerLink="/privacy">{{'privacy policy'|translate}}</a>
        </div>        
        <div class="col-4 inline">
            <div class="text-center">
                <a>
                    <img src="assets/M@2x.png">
                </a>
                <p>{{'Motionwork 2019copyrights'|translate}}</p>
            </div>
        </div>
        <div class="col-4 inline">
                <a routerLink="/terms">{{'Terms of service'|translate}}</a>
        </div>
    </div>
</footer>