#contact{
    padding: 5% 0 5% 0;
    background-color: #f9f9f9;
}

h2{
    font-weight: bold;
    color: black;
    font-size: 3rem;
}
h4{
    font-weight: bold;
    color: black;
    font-size: 1.1rem;
}
p{
    font-size: 1.1rem;
    margin-bottom: .5rem;
}
.title{
    margin-bottom: 6%;
    text-align: center;
}
.inline{
    display: inline-block;
}
.layout-left{
    padding-left: 5%;
    display: inline-block;
}
.layout-right{
    padding-left: 4%;
    display: inline-block;
}
label{
    font-weight: bold;
    color: black;
    font-size: 1.1rem;
}
.form-control{
    padding: 1.575rem 1rem;
    box-shadow: 0px 2px 9px rgb(0, 0, 0, 0.16);
    border: none;
    border-radius: 6px;
}
.send{
    text-align: center;
}
.margin{
    margin-bottom: 5%;
}
li{
    display: inline-block;
}
.example-margin{
    display: inline-block;
}