<section id="contact">
        <div class="container-fluid">
            <div class="col-12">
                <div class="title">
                    <h2>{{'Contact us'|translate}}</h2>
                    <img src="assets/separator.png">
                </div>
            </div>
            
            <!---------------------------------------
                old form
            ---------------------------------------->
                   <!--
                    <input type="text" placeholder="Enter your name" [(ngModel)] ="objContactUs.user_name">
                    <input type="text" placeholder="Enter your email" [(ngModel)] ="objContactUs.user_email">
                    <input type="text" placeholder="Enter Subject" [(ngModel)] ="objContactUs.subject">
                    <input type="text" placeholder="Enter Message" [(ngModel)] ="objContactUs.message">
                    <button class="btn btn-primary" (click)="onSubmit()">send</button>
                   -->
                   <div class="col-12">
                       <div class="row">
                            <div class="col-md-7 col-12 layout-left">
                            <div class="form-group">
                              <label for="name">{{'Name'|translate}}</label>
                              <input type="text" class="form-control" id="name" placeholder="Ex: Ahmed Elsayed" [(ngModel)] ="objContactUs.user_name">
                            </div>
                            <div class="form-group">
                              <label for="email">{{'Email address'|translate}}</label>
                              <input type="email" class="form-control" id="email" placeholder="Email@example.com" [(ngModel)] ="objContactUs.user_email">
                            </div>
                            <div class="form-group">
                                <label for="subject">{{'Subject'|translate}}</label>
                                <input type="text" class="form-control" id="subject" placeholder="Subject" [(ngModel)] ="objContactUs.subject">
                            </div>
                            <div class="form-group">
                                    <label for="message">{{'Message'|translate}}</label>
                                    <textarea type="textarea" class="form-control" id="message" rows="4" placeholder="Message" [(ngModel)] ="objContactUs.message"></textarea>
                                </div>
                            <div class="form-group send">
                                <!-- <button class="btn btn-danger" (click)="onSubmit()">{{'Send'|translate}}  
                                    <mat-spinner  *ngIf="contactLoading" diameter="10" class="example-margin"
                                    color="accent"
                                    
                                    ></mat-spinner>
                                </button> -->
                                <mat-spinner-button  (click)="onSubmit()" [options]="btnopts"></mat-spinner-button>
                            </div>
                            </div>
                            <div class="col-md-5 col-12 layout-right">
                        <div class="margin">
                            <h4>{{'Email'|translate}}</h4>
                            <p>info@motionwork.net</p>
                        </div>
                        <div class="margin">
                            <h4>{{'Branches'|translate}}</h4>
                            <p>{{'Egypt'|translate}}</p>
                            <p>{{'Kuwait'|translate}}</p>
                            <p>{{'France'|translate}}</p>
                        </div>
                        <div class="margin">
                                <h4>{{'Follow us on:'|translate}}</h4>
                                <li>
                                    <a href="#">
                                        Facebook
                                    </a>
                                </li>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                
        </div>
    </section>
    

