<section id="about">
    <div class="container-fluid">
        <div class="col-12">
            <div class="title">
                <h2>{{'About'|translate}}</h2>
                <img src="assets/separator.png">
            </div>
        </div>
        <div class="col-md-4 col-12 inline" *ngFor="let obj of arrAbout ">
            <img src="{{obj.icon}}" class="img-responsive">
            <h3>{{obj.title}}</h3>
            <p>{{obj.desc}}</p>
        </div>
        <!-- <div class="col-md-4 col-12 inline">
                <img src="assets/vision.png" class="img-responsive">
                <h3>{{'Vision'|translate}}</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
        </div>
        <div class="col-md-4 col-12 inline">
                <img src="assets/mission.png" class="img-responsive">
                <h3>{{'Mission'|translate}}</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
        </div> -->
    </div>
</section>
