.navbar {
    position:absolute;
    top:0;
    z-index:1;
    background: transparent;
    left: 5%;
    right: 5%;
    padding: 2% 0;
}
.btn-danger{
    background-color: #dd2222;
}
.btn-danger:hover{
    background-color: #CF1010;
}
.mat-select-value, .mat-select-arrow{
    color: #ffffff !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    font-size: 1.3rem;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
    padding: 0.6375em 0;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1em;
    padding-left: 30%;
    padding-right: 30%;
}
.flag{
    width: 20px;
    vertical-align: baseline;
    margin-right: 2px;
}

/*---------------------------------------------------------------
	Media Query
/*--------------------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .navbar-dark .navbar-nav .nav-link{
        font-size: 1rem;
    }
  }

  @media (max-width: 992px) { 
    .navbar-collapse{
        background-color: #000000;
        border-radius: 6px;
        text-align: center;
    }
    .navbar-collapse form{
        display: block;
    }
    .navbar-collapse .nav-item{
        padding: 1% 0;
    }
    img{
        max-height: 30px;
    }
  }

  