#portfolio{
    padding: 5% 0 5% 0;
    text-align: center;
}

h2{
    font-weight: bold;
    color: black;
    font-size: 2rem;
}
h3{
    font-weight: bold;
    color: black;
    padding: 9% 0 3% 0;
}
p{
    padding: 0 13%;
    font-weight: 500;
    color: #707070;
    font-size: 1.3rem;
}
.title{
    margin-bottom: 0;
}
.inline{
    display: inline-block;
    padding-bottom: 2%;
}
.portfolio-img{
    width: 100%;
    height: 100%
}
.overlay {
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
    width: 100%;
    position: relative;
}
.content {
    position: relative;
    width: 1000%;
    height: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
    cursor: pointer;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  li{
      display: inline-block;
  }
  .align-left{
    text-align: left;
  }
  .category{
    font-weight: bold;
    padding: 5%;
  }
  .category a{
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .category a:hover, .category a:active, .category a:focus{
    color: #dd2222;
  }
  
  