<section id="portfolio">
    <div class="container-fluid">
        <div class="col-12">
            <div class="title">
                <h2>{{'Portfolio'|translate}}</h2>
                <img src="assets/separator.png">
            </div>
        </div>
        <div class="container">
            <div class="col-12">
                <div >
                <!-- <li class="category" >
                    <a (click)="getAllProject()">all</a>
                </li> -->
                <li class="category" *ngFor="let objSection of arrSection; index as i">
                    <a (click)="getSection(i,arrSection)">{{objSection['name']}}</a>
                </li>
                </div>
            </div>
            <div class="col-12 align-left">
                <!-- <h1>{{index}}</h1> -->
                <div class="col-md-4 col-12 inline" *ngFor="let objProject of arrProject">
                    <div class="content" >
                            <a (click) = "getProjectDetails(objProject['id'])">
                                <div class="content-overlay"></div>
                                <img class="content-image" src="{{objProject['img']}}">
                                <div class="content-details fadeIn-bottom">
                                    <h3 class="content-title">{{objProject['name']}}</h3>
                                </div>
                            </a>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</section>


<!-- <div  *ngFor="let objSection of arrSection">

    <li>{{objSection['name']}}</li>
    <div style="margin-left: 2%;" *ngFor="let objProject of objSection['project']">
        <li>{{objProject['name']}}</li>
        <button (click) = "getProjectDetails(objProject['id'])">get Deatils</button>
    </div>
</div> -->
