#career{
    padding: 6rem 0;
    min-height: calc(100vh - 175px);
    box-sizing: border-box;
}
#career h1{
    font-size: 72px;
    margin-bottom: -10px !important;
}
#career p{
    font-size: 36px;
    font-weight: normal;
}
.head{
    margin-bottom: 100px;
}
.items-list{
    text-align: left;
    list-style: none;
}
.item{
    border-bottom: 1px solid;
    display: inline-flex;
    padding-left: 0;
}
.item a{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
}
#career .item p{
    font-size: 18px;
}
.right-side{
    margin-left: auto;
}
.right-side img{
    width: 75%;
}
app-footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.31) !important;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}