<app-navbar-inner (langEmitter)="lang=$event" (arrCareerEmitter)="arrCareer=$event" ></app-navbar-inner>

<section id="career" >
    <div class="col-12 text-center">
        <div class="container">
            
                <div class="head">
                    <h1>{{'We re Hiring'|translate}}</h1>
                    <p>{{'Join our growing team'|translate}}</p>
                </div>
                <div class="content">
                    <ul class="items-list" *ngFor="let objCareer of arrCareer">
                        <li class=" col-12 item">
                            <div class="left-side">

                                <a (click)="getCareerDetails(objCareer['id'])">{{objCareer['title']}}</a>
                                <p>{{objCareer['type']}}</p>

                            </div>
                            <div class="right-side">
                                <img src="assets/arrow-left.png" class="ml-auto">
                            </div>
                        </li>
                    </ul>
                </div>
            
        </div>
    </div>
</section>
<app-footer [lang]="lang" ></app-footer>