<app-navbar-inner (langEmitter)="lang=$event" (objTermEmitter)="term=$event"></app-navbar-inner>

<section id="career-details">
        <div class="col-12 ">
            <div class="container">
                
                    <div class="head">
                        <h1>{{'Terms & Conditions'|translate}}</h1>
                    </div>
                    <div class="col-12 content" [innerHTML]="term['text']"></div>
                   
                
            </div>
        </div>
    </section>
    <app-footer [lang]="lang"></app-footer>