#services{
    padding: 5% 0 5% 0;
    text-align: center;
    background-color: #f9f9f9;
}

h2{
    font-weight: bold;
    font-size: 3rem;
}
h3{
    font-weight: bold;
    padding: 9% 0 3% 0;
}
p{
    padding: 0 12%;
    font-weight: 500;
    color:  #707070;
    font-size: 1.3rem;
}
.title{
    margin-bottom: 6%;
}
.inline{
    display: inline-block;
    margin-bottom: 5%;
}

/*---------------------------------------------------------------
	Media Query
/*--------------------------------------------------------------*/


@media (max-width: 992px) { 
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    .inline{
        margin: 5% 0 5% 0;
    }
}

