<!-- <div  *ngFor="let objService of arrServices">

    <li>{{objService['name']}}</li>
</div> -->
<section id="services">
        <div class="container-fluid">
            <div class="col-12">
                <div class="title">
                    <h2>{{'Services'|translate}}</h2>
                    <img src="assets/separator.png">
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-md-4 col-12 inline" *ngFor="let objService of arrServices">

                <img src="{{objService['icon']}}" class="img-responsive">
                <h3>{{objService['name']}}</h3>

                <p>{{objService['desc']}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    