<app-navbar-inner (langEmitter)="lang=$event" (objProjectEmitter)="project=$event"></app-navbar-inner>

<section id="project" >
    <div class="col-12 text-center">
        <div class="container">
            
                <div class="head">
                    <h1>{{project['name']}}</h1>
                </div>
                
                <div class="col-12">
                    <!-- <h1>{{index}}</h1> -->
                    <div class="row">
                        <div class="col-md-12 col-12 inline">
                            <div id="projectCarousel" class="carousel slide" data-ride="carousel"  >
   
                                <div class="carousel-inner">
                                  <div class="carousel-item " *ngFor="let obj of project['multi_media']; let isFirst = first" [ngClass]="{'active':isFirst}" >
                                    <img *ngIf="obj.type == 'img'" src="{{obj.url}}" class="d-block w-100 content-image" alt="...">
                                    
                                    <video *ngIf="obj.type == 'video'"  controls class="content-image">
                                      <source src="{{obj.url}}" type="video/mp4">
                                      
                                      
                                    </video>
                                  </div>
                                  
                                   <!-- <div class="carousel-item" >
                                    <img src="{{obj}}" class="d-block w-100" alt="...">
                                    
                                  </div> -->
                                  
                                  <!--<div class="carousel-item">
                                    <img src="assets/hero.png" class="d-block w-100" alt="...">
                                    
                                  </div> -->
                                </div>
                                
                                
                              </div>
                        
                    </div>
                    <div class="row" *ngFor="let detail of project['projectDetails']">
                        <div class="col-md-12 col-12 flex padding-top {{detail['position']}}">
                                
                                    
                                    <div class="left-side inline">
                                        <img class="content-image" *ngIf = "detail['media']['type'] == 'img'"   src="{{detail['media']['url']}}">
                                        <video *ngIf="detail['media']['type'] == 'video'"  controls>
                                          <source src="{{detail['media']['url']}}" type="video/mp4">
                                          
                                          
                                        </video>
                                    </div>

                                    <div class="right-side inline align-left">
                                        <h3 class="content-title">{{detail['title']}}</h3>
                                        <p>{{detail['desc']}}</p>
                                    </div>
                                    
                               
                        </div>
                       

                        
                        
                    </div>
            
                </div>
             
        </div>
    </div>
</div>
</section>
<app-footer [lang]="lang" ></app-footer>