#project{
    padding: 6rem 0;
    min-height: calc(100vh - 175px);
    box-sizing: border-box;
}
#project h1{
    font-size: 72px;
    margin-bottom: -10px !important;
    text-transform: capitalize;
}
#project p{
    font-size: 1.2em;
    font-weight: normal;
}
.head{
    margin-bottom: 100px;
}
.items-list{
    text-align: left;
    list-style: none;
}
.item{
    border-bottom: 1px solid;
    display: inline-flex;
    padding-left: 0;
}
.item a{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
}
#career .item p{
    font-size: 18px;
}
.right-side{
    margin-left: auto;
}
.right-side img{
    width: 75%;
}
app-footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.31) !important;
    text-align: center;
    bottom: 0;
    width: 100%;
}

h3{
    font-weight: bold;
    color: black;
    padding: 0 0 5% 0;
    font-weight: bold;
    text-transform: uppercase;
}
p{
    font-weight: 500;
    color: #707070;
    font-size: 1.3rem;
}
.title{
    margin-bottom: 0;
}
.inline{
    display: inline-block;
    padding-bottom: 2%;
}
.portfolio-img{
    width: 100%;
    height: 100%
}
.overlay {
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
    width: 100%;
    position: relative;
}
.content {
    position: relative;
    width: 1000%;
    height: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  
  
  .content-image{
    width: 100%;
    max-height: 480px;
  }
  
  
  
  
  .content-details p{
    font-size: 0.8em;
  }
  li{
      display: inline-block;
  }
  .align-left{
    text-align: left;
  }
  .left-side{
      width: 33.333333%;
  }
  .right-side{
    width: 66.666667%;
    
  }
  .text{
    padding-left: 3%;
  }
  .flex{
      display: flex;
  }
  .left{
      display: flex;
      flex-direction: row;
  }
  .left .right-side{
      padding-left: 3%;
  }
  .right{
    
    flex-direction: row-reverse;
}
.right .left-side{
    padding-left: 3%;
}
  .padding-top{
      padding-top: 3%;
      padding-bottom: 3%;
  }

  /*---------------------------------------------------------------
	Media Query
/*--------------------------------------------------------------*/

/* @media (min-width: 992px) and (max-width: 1199.98px) { 
    .navbar-dark .navbar-nav .nav-link{
        font-size: 1rem;
    }
  } */

  @media (max-width: 787px) { 
    .left .right-side, .right .left-side{
        padding: 0;
    }
    
    .left-side, .right-side{
        padding: 0;
        width: 100%;
        padding-bottom: 5%;
    }
    
    .flex{
        display: inline-block;
    }

    .carousel{
        margin-bottom: 10%;
    }

    .inline{
        padding: 0;
    }

    .content-image{
        height: 200px;
    }

    h3{
        padding: 5% 0 5% 0;
        text-align: center;
        font-size: 1.5rem;
    }

    p{
        text-align: center;
        font-size: 1rem;
    }
    
    .head{
        margin-bottom: 10%;
    }

    #project h1{
        font-size: 48px;
    }


  }
