/*---------------------------------------------------------------
	Imports
/*--------------------------------------------------------------*/

@import "~bootstrap/dist/css/bootstrap.css";

/*---------------------------------------------------------------
	Main Font
/*--------------------------------------------------------------*/

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Bold.otf");
    font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Medium.otf");
    font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Regular.otf");
    font-weight: normal;
	font-style: normal;
}

/*---------------------------------------------------------------
	Reset
/*--------------------------------------------------------------*/

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.btn-danger{
    background-color: #dd2222;
}
.btn-danger:hover{
    background-color: #CF1010;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: .5em;
    padding-left: 10%;
    padding-right: 50%;
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple){
    background: rgb(221, 34, 34);
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: #fff;
}
.inner .mat-select-value{
    color: #000;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color: #fff !important;
}
.mat-select-value{
    display: inline !important;
}
.mat-select-value, .mat-select-arrow{
    color: #ffffff !important;
}
.inner .mat-select-value, .inner .mat-select-arrow{
    color: #000 !important;
}
.mat-form-field{
    width: 115px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::selection {
  background: #dd2222; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #dd2222; /* Gecko Browsers */
  color: #fff;
}


@media (max-width: 992px) { 
.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 1.3rem;
    }
    .inner .mat-select-value, .inner .mat-select-arrow{
        color: #fff !important;
    }
    .title img{
        width: 33.333333%;
    }
    h3{
        font-size: 1.3rem;
    }
}

