@import '~@angular/material/_theming';

@include mat-core();

$app-primary: mat-palette($mat-red, 1000);
$app-accent: mat-palette($mat-deep-orange, 500);
$app-warn: mat-palette($mat-red, 1000);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);