#team{
    padding: 6rem 0;
    min-height: calc(100vh - 175px);
    box-sizing: border-box;
}
#team h1{
    font-size: 72px;
    margin-bottom: -10px !important;
}
#team p{
    font-size: 1.2em;
    font-weight: normal;
}
.head{
    margin-bottom: 100px;
}
.items-list{
    text-align: left;
    list-style: none;
}
.item{
    border-bottom: 1px solid;
    display: inline-flex;
    padding-left: 0;
}
.item a{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
}
#career .item p{
    font-size: 18px;
}
.right-side{
    margin-left: auto;
}
.right-side img{
    width: 75%;
}
app-footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.31) !important;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h3{
    font-weight: bold;
    color: black;
    padding: 5% 0 0 0;
}
p{
    padding: 0 13%;
    font-weight: 500;
    color: #707070;
    font-size: 1.3rem;
}
.title{
    margin-bottom: 0;
}
.inline{
    display: inline-block;
    padding-bottom: 2%;
}
.portfolio-img{
    width: 100%;
    height: 100%
}
.overlay {
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
    width: 100%;
    position: relative;
}
.content {
    position: relative;
    width: 1000%;
    height: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  
  
  .content-image{
    width: 100%;
  }
  
  
  .content-details h3{
    font-weight: bold;
    text-transform: uppercase;
   
  }
  
  .content-details p{
    font-size: 0.8em;
  }
  li{
      display: inline-block;
  }
  .align-left{
    text-align: left;
  }
  