<app-navbar-inner (langEmitter)="lang=$event" (arrTeamEmitter)="arrTeam=$event" ></app-navbar-inner>

<section id="team" >
    <div class="col-12 text-center">
        <div class="container">
            
                <div class="head">
                    <h1>{{'Our creatives'|translate}}</h1>
                    <p>{{'our growing team'|translate}}</p>
                </div>
                <div class="col-12">
                    <!-- <h1>{{index}}</h1> -->
                    <div class="row" *ngFor="let objTeam of arrTeam">
                        <div class="col-md-3 col-12 inline">
                        <div class="content" >
                                
                                    <div class="content-overlay"></div>
                                    <img class="content-image" src="{{objTeam['img']}}">
                                    <div class="content-details fadeIn-bottom">
                                        <h3 class="content-title">{{objTeam['name']}}</h3>
                                        <p>{{objTeam['title']}}</p>
                                    </div>
                               
                        </div>
                        </div>
                        <!-- <div class="col-md-3 col-12 inline">
                            <div class="content" >
                                    
                                        <div class="content-overlay"></div>
                                        <img class="content-image" src="assets/hammad_logo_white.png">
                                        <div class="content-details fadeIn-bottom">
                                            <h3 class="content-title">AHMED ELSAYED</h3>
                                            <p>UX/UI DESIGNER</p>
                                        </div>
                                   
                            </div>
                        </div>
                        <div class="col-md-3 col-12 inline">
                            <div class="content" >
                                    
                                        <div class="content-overlay"></div>
                                        <img class="content-image" src="assets/hammad_logo_white.png">
                                        <div class="content-details fadeIn-bottom">
                                            <h3 class="content-title">AHMED ELSAYED</h3>
                                            <p>UX/UI DESIGNER</p>
                                        </div>
                                   
                            </div>
                        </div>
                        <div class="col-md-3 col-12 inline">
                            <div class="content" >
                                    
                                        <div class="content-overlay"></div>
                                        <img class="content-image" src="assets/hammad_logo_white.png">
                                        <div class="content-details fadeIn-bottom">
                                            <h3 class="content-title">AHMED ELSAYED</h3>
                                            <p>UX/UI DESIGNER</p>
                                        </div>
                                   
                            </div>
                        </div>
                        -->
                    </div>
            
                </div>
             
        </div>
    </div>
</section>
<app-footer [lang]="lang" ></app-footer>