<app-navbar (langEmitter)="lang=$event" (arrServiceEmitter)="arrServices=$event" (arrSectionEmitter)="arrSection=$event" (arrBannerEmitter)="arrBanner=$event" (arrAboutEmitter)="arrAbout=$event"></app-navbar>
<app-header [lang]="lang" [arrBanner] = "arrBanner"></app-header>
<app-about [lang]="lang" [arrAbout] = "arrAbout"></app-about>
<app-services [lang]="lang" [arrServices] = "arrServices"></app-services>
<app-portfolio [lang]="lang" [arrSection]="arrSection"></app-portfolio>
<app-contact-us [lang]="lang"></app-contact-us>
<app-footer [lang]="lang"></app-footer>