<app-navbar-inner (langEmitter)="lang=$event" (objCareerEmitter)="career=$event"></app-navbar-inner>

<section id="career-details">
        <div class="col-12 ">
            <div class="container">
                
                    <div class="head">
                        <h1>{{career['title']}}</h1>
                    </div>
                    <div class="col-12 content" [innerHTML]="career['desc']"></div>
                    <!-- <div class="col-12 content">
                        {{career['desc']}}
                                     <h2>Job Requirments</h2>
                                    <ul>
                                        <li>Computer Science/Engineering degree or equivalent work experience.</li>
                                        <li>Computer Science/Engineering degree or equivalent work experience.</li>
                                        <li>Computer Science/Engineering degree or equivalent work experience.</li>
                                        <li>Computer Science/Engineering degree or equivalent work experience.</li>
                                    </ul>
                   
                    </div> -->
                
            </div>
        </div>
    </section>
    <app-footer [lang]="lang"></app-footer>